<table class="table">
  <thead>
    <tr>
      <th>サーバーのIPアドレス</th>
      <th>障害発生確認時刻</th>
      <th>障害復旧確認時刻</th>
      <th>修復確認までに行なった応答確認の回数</th>
    </tr>
  </thead>
  <% troubles.each do |trouble| %>
    <tr>
      <td><%= trouble.server.ip_address %></td>
      <td><%= trouble.trouble_start.strftime("%Y-%m-%d %H:%M:%S ") %></td>
      <td>
        <% if trouble.trouble_end != nil %>
          <%= trouble.trouble_end.strftime("%Y-%m-%d %H:%M:%S ") %>
        <% end %>    
      </td>
      <td>
        <% if trouble.checked_count != nil %>
          <%= trouble.checked_count %>
        <% else %>
          未復旧
        <% end %>
      </td>
    </tr>
  <% end %>
</table>