<%= form_with model:@trouble, local: true do |f| %>
  <%= f.label :min_count, "何回以上連続してタイムアウトした場合に故障とみなすかを数字で入力してください。" %><br>
  <span>
    故障を検知した次の応答確認で復旧していた場合には、連続タイムアウトの回数は1回とみなします。<br>
    空欄の場合には、1回以上タイムアウトしたサーバーが全て表示されます。
  </span>
  <br>
  <%= f.number_field :min_count %>
  <%= f.submit "サーバーの故障履歴を確認する" %>
<% end %>
